In [1]:
a=('a','b','c')
a[0]

'a'

In [2]:
a[1]

'b'

In [3]:
a[:]

('a', 'b', 'c')

In [6]:
l=[]
l.append(['a','b'])
l

[['a', 'b']]

In [2]:
tup=(11,[22,33],44,55)
tup[2]

44

In [4]:
tup[1][0]=222

In [5]:
tup

(11, [222, 33], 44, 55)

In [60]:
tup=(50,10,60,50,50)
c=0
for i in tup:
    if i==50:
        c=c+1
print(c)

3

In [28]:
l=[1,2,3,1,99]
x=tuple(l)
x

(1, 2, 3, 1, 99)

In [2]:
#tuple is just like lists 
#data structre
#()
mark=()

In [3]:
type(mark)

tuple

In [8]:
k=(1,2,3,5)
k
k

(1, 2, 3, 5)

In [9]:
k[-1:-3]

()

In [13]:
len(k)

4

In [22]:
l=[1,2,3,4]
for i in l:

TypeError: 'tuple' object does not support item assignment

In [49]:
s1={10,20,30,40,50}
s2={30,40,50,60,70}
s1.remove(30)
s1.remove(40)
s1.remove(50)
s1.update(s2)
s1

{10, 20, 30, 40, 50, 60, 70}

In [67]:
d1={'ten':10,'twenty':20,'thiry':30}
d2={'thiry':500,'four':20,'five':30}

d1.update(d2)
d1

{'ten': 10, 'twenty': 20, 'thiry': 500, 'four': 20, 'five': 30}

{'ten': 10, 'twenty': 20, 'thiry': 500, 'four': 20, 'five': 30}

In [68]:
s={
    'em1':{'name':'John','salary':7500},
     'em2':{'name':'emma','salary':8000},
     'em3':{'name':'Brad','salary':6500},
}
s

{'em1': {'name': 'John', 'salary': 7500},
 'em2': {'name': 'emma', 'salary': 8000},
 'em3': {'name': 'Brad', 'salary': 6500}}

In [70]:
s['em3']['salary']=8500
s

{'em1': {'name': 'John', 'salary': 7500},
 'em2': {'name': 'emma', 'salary': 8000},
 'em3': {'name': 'Brad', 'salary': 8500}}

In [71]:
sa={
    "name":"Kelly",
    "age":25,
    "Salary":8000,
    "city":"new work"
}
sa

{'name': 'Kelly', 'age': 25, 'Salary': 8000, 'city': 'new work'}

In [72]:
sa["city"]="location"

In [73]:
sa

{'name': 'Kelly', 'age': 25, 'Salary': 8000, 'city': 'location'}

In [77]:
sa.keys()

dict_keys(['name', 'age', 'Salary', 'city'])

In [84]:
sa

{'name': 'Kelly', 'age': 25, 'Salary': 8000}

In [85]:
sa.push("location":"new york")

SyntaxError: invalid syntax (<ipython-input-85-6ce1fffc3ba2>, line 1)

In [86]:
sa["location"]="new"

In [87]:
sa

{'name': 'Kelly', 'age': 25, 'Salary': 8000, 'location': 'new'}