In [1]:
pwd

'C:\\Machine Learning\\Python'

In [2]:
#dictionary data set
#its a collection,unordered,changebale
#declre using{},key and value pair,should not be duplicated

In [3]:
a={}
type(a)

dict

In [4]:
s={"key1":"Malappuram","key2":"Palakkad"}

In [5]:
s

{'key1': 'Malappuram', 'key2': 'Palakkad'}

In [6]:
s={"key2":"Malappuram","key1":"Palakkad"}

In [7]:
s

{'key2': 'Malappuram', 'key1': 'Palakkad'}

In [8]:
s={"key1":"Malappuram","key2":"Palakkad","key3":"trichi","key2":"yokey"}
s

{'key1': 'Malappuram', 'key2': 'yokey', 'key3': 'trichi'}

In [9]:
li=[1,4,7,7]
li[2]

7

In [11]:
s["key1"]

'Malappuram'

In [12]:
s

{'key1': 'Malappuram', 'key2': 'yokey', 'key3': 'trichi'}

In [13]:
s={1:"Malappuram","key2":"Palakkad","key3":"trichi","key2":"yokey"}
s

{1: 'Malappuram', 'key2': 'yokey', 'key3': 'trichi'}

In [14]:
s={1:"Malappuram","key2":"Palakkad","key3":"trichi","key4":"yokey","t":[3,4,5,6,"kuttipuram"]}

In [15]:
s

{1: 'Malappuram',
 'key2': 'Palakkad',
 'key3': 'trichi',
 'key4': 'yokey',
 't': [3, 4, 5, 6, 'kuttipuram']}

In [16]:
s["t"]

[3, 4, 5, 6, 'kuttipuram']

In [17]:
s={1:"Malappuram","key2":"Palakkad","key3":"trichi","key4":"yokey","t":[3,4,5,6,"kuttipuram"]}

In [21]:
b={0:1,1:"abc",2:"saa",'d':{'r':23,'e':"simran"}}

In [22]:
b

{0: 1, 1: 'abc', 2: 'saa', 'd': {'r': 23, 'e': 'simran'}}

In [25]:
b['d']['e']

'simran'

In [26]:
b

{0: 1, 1: 'abc', 2: 'saa', 'd': {'r': 23, 'e': 'simran'}}

In [30]:
for i in b:
    print(b[i])

1
abc
saa
{'r': 23, 'e': 'simran'}

In [33]:
for i in b:
    print(str(i)+"-"+str(b[i]))

0-1
1-abc
2-saa
d-{'r': 23, 'e': 'simran'}

In [35]:
b.keys()

dict_keys([0, 1, 2, 'd'])

In [36]:
b.values()

dict_values([1, 'abc', 'saa', {'r': 23, 'e': 'simran'}])

In [37]:
b['key4']="seri"
b

{0: 1, 1: 'abc', 2: 'saa', 'd': {'r': 23, 'e': 'simran'}, 'key4': 'seri'}

In [39]:
#write a to
for i in range(1,16):
    r[i]=i*i
print(r)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [40]:
[k for k in range(1,16)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [45]:
s={k:k*k for k in range(1,16)}

In [47]:
print (s)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [59]:
l=['Anil','Shaheen','Raju','Babu']
s={}
for i in l:
    s[i[0]]=i
print(s)

{'A': 'Anil', 'S': 'Shaheen', 'R': 'Raju', 'B': 'Babu'}

In [62]:
j={}
{i[0]:i for i in l}

{'A': 'Anil', 'S': 'Shaheen', 'R': 'Raju', 'B': 'Babu'}

d1={'ten':10,'twenty':20,'thiry':30}
d2={'thiry':500,'four':20,'five':30}
d3=d1.copy()

In [64]:
d3

{'ten': 10, 'twenty': 20, 'thiry': 30}

In [65]:
d3.update(d2)

In [66]:
d3

{'ten': 10, 'twenty': 20, 'thiry': 500, 'four': 20, 'five': 30}

#function

function

#fun

In [67]:
#set f statements

In [3]:
def say(s):
    print(s)
    
say("sandra")

sandra

In [8]:
def S(r):
    p='se'
    r="Hleelo"+r
    print(r)
    return p
k=S("Seni")
print(k)

HleeloSeni
se

In [11]:
def fun():
    return 1,4,6,0
_,_,m,_=fun()
m

6

In [27]:
def add(n1,n2=7):
    res=n1+n2
    return res
c=add(6)
c

13

In [26]:
c

6

In [25]:
def add(n1=1,n2):#default value
    res=n1+n2
    return res
c=add(5)
c

SyntaxError: non-default argument follows default argument (<ipython-input-25-a9353a3bc0f6>, line 1)

In [18]:
c

11

In [29]:
def max(a,b,c):
    if(a>b & a>c):
        print("a greater")
    elif(b>a & b>c):
        print("b greater")
    else:
        print("c greater")
        
max(4,6,1)

b greater

In [ ]:
m=def lar(a,b):
    if(a>b):
        return a
    else:
        return b