In [1]:
pwd

'C:\\Machine Learning\\Python'

In [3]:
def num(n):
    return n*n
lst1=[1,2,3,4,5]
res=map(num,lst1)
list(res)

[1, 4, 9, 16, 25]

In [6]:
res=map(lambda n:n*n,lst1)
list(res)

[1, 4, 9, 16, 25]

In [7]:
res=map(lambda n:n*n*n,lst1)
list(res)

[1, 8, 27, 64, 125]

In [10]:
l=['1','2','3','4']
res=map(float,l)
list(res)

[1.0, 2.0, 3.0, 4.0]

In [11]:
def addoprtn(a,b,c):
    return a+b+c
a=[1,2,3,4,5]
b=[6,7,8,9,5]
c=[2,4,1,2,3]
res=map(addoprtn,a,b,c)
print(list(res))

[9, 13, 12, 15, 13]

In [12]:
res=map(lambda a,b,c:a+b+c,a,b,c)

In [13]:
list(res)

[9, 13, 12, 15, 13]

In [14]:
a=[1,2,3,4,5]
b=[6,7,8,9,5]
c=[2,4,1,2,3]
res=map(lambda a,b,c:a+b+c,a,b,c)
list(res)

[9, 13, 12, 15, 13]

In [20]:
def uppr(l):
    return l.upper()
l=['mca','mba','btech']
list(map(uppr,l))

['MCA', 'MBA', 'BTECH']

In [21]:
l=['mca','mba','btech']
list(map(lambda l:l.upper(),l))

['MCA', 'MBA', 'BTECH']

In [29]:
lstradius=[2,3,4,5]
list(map(lambda lstradius:round(3.14*lstradius*lstradius,3),lstradius))

[12.56, 28.26, 50.24, 78.5]

#reduce function

reduce(fname,sequence)

In [31]:
from functools import reduce
l=[1,2,3,4,5]
def sumo(a,b):
    return a+b
reduce(sumo,l)

15

In [32]:
ls2=[4,5,6,7,9]
def num(a,b):
    return a*b
reduce(num,ls2)

7560

In [41]:
l=[88,45,2,43,94,7]
def fu(a,b):
    if(a>b):
        return a
    else:
        return b
def min(a,b):
    if(a<b):
        return a
    else:
        return b
print("bigger:",reduce(fu,l))
print("lower:",reduce(min,l))

bigger: 94
lower: 2

#filter

filter(fname,sequence)

In [45]:
l=[3,6,8,0,7,5,9]
def even(n):
    if n%2==0:
        return True
tuple(filter(even,l))

(6, 8, 0)

In [46]:
l=[2,-4,7,-4,-21]
def neg(n):
    if n<0:
        return True
list(filter(neg,l))

[-4, -4, -21]

In [52]:
l=['Mca','mba']
m='mba'
if "mba" in l:
    print(f"{m}e")
else:
    print("no")

mbae

## Files

In [53]:
%%writefile test1.txt
hello this is a test file creation
iam from kerala gods on country

Writing test1.txt

In [58]:
myfile=open('test1.txt','r')
myfile.read()

'hello this is a test file creation\niam from kerala gods on country\n'

In [59]:
myfile.read()

''

In [62]:
myfile.seek(0)
myfile.read()

'hello this is a test file creation\niam from kerala gods on country\n'

In [63]:
myfile.seek(6)
myfile.read()

'this is a test file creation\niam from kerala gods on country\n'

In [68]:
myfile.seek(0)
t=myfile.readlines()
type(myfile.readlines())

list

In [70]:
myfile.seek(0)
t=myfile.readlines()
t

['hello this is a test file creation\n', 'iam from kerala gods on country\n']

In [71]:
for i in t:
    print(i)

hello this is a test file creation

iam from kerala gods on country

In [77]:
myfile=open('text2.txt','w+')
myfile.write("Thjnxcncnncncnncncncncncncncncnnccnncncnc")
myfile.seek(0)
myfile.read()

'Thjnxcncnncncnncncncncncncncncnnccnncncnc'

In [78]:
myfile.write("jahahahagaggdfddssadgfasgsddfgtrreh")

35

In [80]:
myfile.seek(0)
myfile.read()

'Thjnxcncnncncnncncncncncncncncnnccnncncncjahahahagaggdfddssadgfasgsddfgtrreh'

In [89]:
%%writefile frst.txt
Just be okay
oh my gosh
chal hatt bhe
jee kardha
masaa masaa
nasha nasha

Overwriting frst.txt

In [94]:
my=open("frst.txt",'w+')
my.seek(0)
lst=my.readlines()
lst

[]

'hloo aliyahloo aliya'

In [134]:
m=open("job.txt",'w+')
m.write('Just be okay')
m.write('oh my gosh')
m.write('chal hatt bhe')
m.write('jee kardha')
m.write('masaa masaa')
m.write('nasha nasha')
m.seek(0)
lst=m.readlines(1::4)

SyntaxError: invalid syntax (<ipython-input-134-931a5488571b>, line 9)

In [121]:
m.seek(0)
lst=m.readlines()
lst
for i in lst[1::2]:
    print(i)

IndexError: list index out of range

In [159]:
m=open("job.txt",'w+')
m.write('Just be okay')
m.write('oh my gosh')
m.write('chal hatt bhe')
m.write('jee kardha')
m.write('masaa masaa')
m.write('nasha nasha')
m.seek(0)
l=m.readlines()
for i in l:
    print(i+"\n")

Just be okayoh my goshchal hatt bhejee kardhamasaa masaanasha nasha

##