In [1]:
pwd

'C:\\Machine Learning\\Python\\Assignment 2'

In [6]:
#1)Modify the first item(22) of a list inside a following tuple to 222?
#tuple1=(11,[22,33],44,55)
#Ans)

tuple1=(11,[22,33],44,55)
tuple1[1][0]=222
print("The modified tuple is:",tuple1)

The modified tuple is: (11, [222, 33], 44, 55)

In [7]:
#2)Count the number of occurences of item 50 from a tuple?
#tuple1=(50,10,60,70,50)
#Ans)

tuple1=(50,10,60,70,50)
c=0
for i in tuple1:
    if i==50:
        c=c+1
print("The no. of times 50 occured in the given tuple is:",c)

The no. of times 50 occured in the given tuple is: 2

In [9]:
#3)Write a python program to convert a list to tuple?
#Ans)

list1=[1,2,3,4,12,44]
print("The list to be converted:",list1)
tuple1=tuple(list1)
print("The converted tuple is:",tuple1)

The list to be converted: [1, 2, 3, 4, 12, 44]
The converted tuple is: (1, 2, 3, 4, 12, 44)

In [3]:
#4)Returns a new set with all items from both sets by removing duplicates?
#set1={10,20,30,40,50}
#set2={30,40,50,60,70}
#Ans)
set1={10,20,30,40,50}
set2={30,40,50,60,70}
set3=set1|set2
print("The new set is:",set3)

The new set is: {70, 40, 10, 50, 20, 60, 30}

In [2]:
#5)Merge following two python dictionaries into one?
#dict1={'Ten':10,'Twenty':20,'Thirty':30}
#dict2={'Thirty':30,Forty':40,'Fifty':50}
dict1={'Ten':10,'Twenty':20,'Thirty':30}
dict2={'Thirty':30,'Forty':40,'Fifty':50}
dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50}

In [13]:
#6)Given a python dictionary,Change Brad's salary to 8500
#sampleDict={
#    'em1':{'name':'John','salary':7500},
#     'em2':{'name':'Emma','salary':8000},
#     'em3':{'name':'Brad','salary':6500},
#           }
#Ans)

sampleDict={
    'em1':{'name':'John','salary':7500},
    'em2':{'name':'Emma','salary':8000},
    'em3':{'name':'Brad','salary':6500},
           }
sampleDict['em3']['salary']=8500
print("The updated Dictionary is:",sampleDict)

The updated Dictionary is: {'em1': {'name': 'John', 'salary': 7500}, 'em2': {'name': 'Emma', 'salary': 8000}, 'em3': {'name': 'Brad', 'salary': 8500}}

In [2]:
#7)Rename key city to location in the following dictionary?
#sa={
#    "name":"Kelly",
#    "age":25,
#   "Salary":8000,
#    "city":"New work"
#  }
#Ans)

sampleDict={
    "name":"Kelly",
    "age":25,
    "Salary":8000,
    "city":"New York"
   }
sampleDict.pop("city")
sampleDict
sampleDict["Location"]="New York"
sampleDict

{'name': 'Kelly', 'age': 25, 'Salary': 8000, 'Location': 'New York'}